body { 
    padding: 90px 30px 0px 30px; 
}

#img-container {
    max-height: 70%;
}

#pie-container {
    max-height: 30%;
}

#scatterplot svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    /* position: relative; */
}

#piechart svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.tips {
    font-weight: bold;
    font-style: oblique;
}

.emph {
    font-weight: bold;
}

/* DOMAIN COLORS  */
.biomed {
    background-color: #019488;
}

.climate {
    background-color: #3fccbf;
}

.space {
    background-color: #7accc4
}

.anthro {
    background-color: #a7c7c4
}

.tooltip {
    /* opacity: 0; */
    position: absolute;
    top: -15px;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 0.5px solid #bbbbbb;
    transition: all 0.1s ease-out;
}





