* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, #columns {
    width: 100vw;    
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#columns {
    margin: 0 auto;

    aspect-ratio: 16/5;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

#columns > div {
    width: 33%;
    flex-grow: 1;
    
}

#preview {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    align-content: start;
}

#preview img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

#piechart {
    width: 33%;
    flex-grow: 1;

    display: flex; 
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    width: 100%;
}

.row .row-textual {
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
}

.row a {
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
}

#scatterplot {
    width: 100%;
    height: 100%;
    display: block;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.circle-base {
    fill: rgb(63, 204, 191);
    opacity: 0.75;
}

.circle-click {
    fill: rgb(38, 120, 112);
    opacity: 1;
    stroke: rgb(38, 120, 112);
    stroke-width: 3px;
}

.secretsquare {

}

.secretsquare-click  {
    fill: rgb(152, 172, 254);
}

.secretsquare-hover {
    fill: rgb(152, 172, 254);
}

.secretsquare-square {
    fill: rgb(152, 172, 254);
}

.secretsquare-line {

}

rect {
    opacity: 0.65;
    mix-blend-mode: plus;
    border-radius: 25px;
    outline: 2px solid rgba(0, 0, 0, 0.5); /* Adjust color and thickness as needed */
}

.row.header {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

#main header {
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons-wrapper a {
    width: 120px;

    height: 24px;
    line-height: 24px;

    text-align: center;

    border-radius: 4px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    display: block;

    padding: 4px;
    margin: 4px;

    float: left;

    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    
}